body{
    padding: 0px;
    margin: 0 ;
    box-sizing: border-box;
}
.container{
   
    border: 2px solid gray;
    border-radius: 15px;
    box-sizing: border-box;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.text-box{
    border-radius: 15px 15px 0px 0px;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color:mediumseagreen;
}
form{
    padding: 20px;
}
.title{
    color: white;
    padding-top: 5px;
    margin: 0px;
}
.form-name,.form-surname,.form-address{
    border: 1px solid gray;
    opacity: 0.5;
    border-radius: 5px;
    width: 100%;
    height: 29px;
    padding: 7px;
    box-sizing: border-box;
}
.div{
    margin-top: 10px;
}
#position{
    border: 1px solid gray;
    opacity: 0.5;
    border-radius: 5px;
    width: 100%;
    height: 29px;
    padding: 7px;
    box-sizing: border-box;
}
.sign-up{
    background-color: cadetblue;
    font-size: 25px;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.title{
    padding:5px;
}
.wrapper{
    display: none;
    padding:0;
    border: 2px solid gray;
    border-radius: 15px;
    box-sizing: border-box;
    width: 500px;
    margin:0 auto;
}
.header{
    display: flex;
    justify-content: center;
    border-radius: 15px 15px 0px 0px;
    height: 100px;
    background-color: mediumseagreen;
}
#user{
    display: block;
    margin-top: 45px;
    width: 100px;
    height: 100px;
}
#user2{
    display: none;
    margin-top: 45px;
    width: 100px;
    height: 100px;
}
.info{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#email-box{
    margin-top: 0px;
}
#job-box{
    margin-top: 0px;
}
.sign-out{
    margin: 20px;
    border: 1px solid mediumseagreen;
    color: cadetblue;
    border-radius: 5px;
    padding: 8px;
}
hr{
    background-color: gray;
    opacity: 0.5;
    width: 100%;
    height: 1px;
}
.icons{
    border-radius: 0px 0px 15px 15px;
    height: 50px;
    background-color: mediumseagreen;
}
.icons-box{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}
.icons-logo{
    padding-left: 10px;
    margin-top: 6px;
    width: 35px;
    height: 35px;
}